venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
requirements.txt
requirements_pipeline.txt
research/
notebooks/
*.ipynb
data/
artifacts/data_ingestion/
artifacts/data_transformation/transformed.csv
logs/
check_merge.py
template.py
setup.py
Dockerfile
.dockerignore
docker-compose.yaml
README.md
LICENSE
screenshots/
